 <!-- 
1.ROSでPythonを実行する場合は、「type="ノード名"」に拡張子「.py」が必要
2.Pythonファイルの実行権限の付与「chmod +x /パス/ファイル名.py」（「+x」はexecute「実行」権限を付与する「+」という意味）コマンドをターミナル上で実行する
3.ターミナルでメッセージの出力を行う場合は、<node ~ />内に「output="screen"」を追記する
-->

<launch>
  <node pkg="topic_sample_mix" type="publisher_mix" name="publisher" output="screen"/>
  <node pkg="topic_sample_mix" type="subscriber_mix.py" name="subscriber" output="screen"/>
</launch>
